.sContainer {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center;
    background-color: #5e747f; /* lightGray */
    background-size: cover;
  }
  
  .secSer {
    padding: 2rem;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5e747f; /* lightGray */
  }
  
  .title {
    font-size: 2.25rem; /* 4xl */
    font-weight: bold;
    margin-bottom: 1rem;
    color: #E1D9D0; /* beige */
    text-align: center;
  }
  
  .services-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.125rem; /* lg */
    color: #E1D9D0; /* beige */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la lista horizontalmente */
  }
  
  .services-list li {
    display: flex;
    align-items: center;
    font-size: 1.125rem; /* lg */
    color: #E1D9D0; /* beige */
    margin-bottom: 1rem;
  }
  
  .service-icon {
    margin-right: 0.5rem;
    color: #E1D9D0; /* beige */
  }
  
  .textP2 {
    margin-bottom: 1.5rem; /* 6 */
    font-size: 1.125rem; /* lg */
    color: #E1D9D0; /* beige */
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  
  .imgSer {
    width: 22%;
    height: 22%;
    object-fit: cover;
    align-items: left;
    margin: auto;
  }
  
  @media (max-width: 400px) {
    .sContainer {
      flex-direction: column-reverse;
    }
  
    .imgSer {
      width: auto;
      height: auto;
      margin-top: 30px;
    }
  
    .textP2 {
      width: auto;
    }
  }
  