.about-us {
  padding: 2rem;
  background-color: #E1D9D0 ; 
  font-family: 'Asen Pro', sans-serif;
  box-sizing: border-box; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.25rem; /* 36px */
  text-align: center;
  margin-bottom: 1rem;
  color: #3a4954; 
}

.about-section {
  margin-bottom: 3.5rem;
  text-align: center;
}

.about-description {
  font-size: 1.5rem; /* 18px */
  color: #3a4954; 
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.carousel-section {
  margin: 2rem;
}

.carousel .slide img {
  width: 60%;
  height: auto;
  border-radius: 8px;
  max-width: 100%; 
}


@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  .title {
    font-size: 2rem; /* 32px */
  }

  .about-description {
    font-size: 1rem; /* 16px */
  }
}

@media (max-width: 768px) {
  .about-us {
    padding: 1.5rem;
  }

  .container {
    max-width: 100%;
  }

  .title {
    font-size: 1.75rem; /* 28px */
  }

  .about-description {
    font-size: 0.875rem; /* 14px */
  }

  .carousel .slide img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .about-us {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem; /* 24px */
  }

  .about-description {
    font-size: 0.75rem; /* 12px */
  }

  .carousel .slide img {
    width: 90%;
  }
}
