.about-us {
  padding: 2rem;
  background-color: #E1D9D0;
  font-family: 'Asen Pro', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: #3a4954;
}

.about-section {
  margin-bottom: 3.5rem;
  text-align: center;
}

.about-description {
  color: #3a4954;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  text-align: justify;
}

.carousel-section {
  margin: 2rem 0;
  text-align: center;
}

.carousel .slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.imgAboutUs-mobile {
  display: none;
}

.imgAboutUs-desktop {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: #77736f 0px 0px 10px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  .imgAboutUs-desktop {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .about-us {
    padding: 1.5rem;
  }

  .container {
    max-width: 100%;
  }

  .carousel .slide img {
    width: 90%;
  }

  .imgAboutUs {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .about-us {
    padding: 1rem;
  }

  .carousel .slide img {
    width: 100%;
  }

  .imgAboutUs-mobile {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: #77736f 0px 0px 10px;
  }

  .imgAboutUs-desktop {
    display: none;
  }
}
