.services {
  padding: 2rem;
  background-color: #3a4954;
  font-family: 'Asen Pro', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-bottom: 10%;
}

.services-title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #E1D9D0;
}

.services-carousel .carousel .slide {
  background: none;
}

.service-card {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-image-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-content {
  padding: 1.5rem;
}

.service-title {
  font-size: 2.5rem;
  color: #5e747f;
  margin: 1rem;
  text-align: center;
}

.service-description {
  font-size: 1rem;
  color: #5e747f;
  line-height: 1.6;
  margin: 1.5rem;
  text-align: justify;
}

@media (max-width: 1024px) {
  .services-title {
    font-size: 2.5rem;
  }

  .service-card {
    max-width: 90%;
    height: 120%;
  }

  .service-title {
    font-size: 2rem;
  }

  .service-description {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .services-title {
    font-size: 2rem;
  }

  .service-card {
    max-width: 100%;
    height: 120%;
    margin: 1rem;
  }

  .service-title {
    font-size: 1.75rem;
  }

  .service-description {
    font-size: 0.875rem;
  }

  .service-image-container {
    height: auto;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 1.5rem;
  }

  .services-title {
    font-size: 1.75rem;
  }

  .service-card {
    max-width: 100%;
    height: 120%;
    margin: 1rem;
  }

  .service-title {
    font-size: 1.5rem;
  }

  .service-description {
    font-size: 0.75rem;
  }

  .service-image-container {
    
  }
}
