.services {
  padding: 2rem;
  background-color: #5e747f; /* mediumGray */
  font-family: 'Asen Pro', sans-serif;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-title {
  font-size: 3.5rem; /* 56px */
  text-align: center;
  margin-bottom: 2rem;
  color: #E1D9D0; /* beige */
}

.services-carousel .carousel .slide {
  background: none; /* Remove background color from carousel slides */
}

.service-card {
  background-color: #E1D9D0; /* beige */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 auto;
  max-width: 800px; /* Limit the width of each card */
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-image-container {
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits within the container without being cut */
}

.service-content {
  padding: 1.5rem;
}

.service-title {
  font-size: 2.5rem; /* 40px */
  color: #5e747f; /* lightGray */
  margin: 1rem;
  text-align: center; /* Center the title text */
}

.service-description {
  font-size: 1rem; /* 16px */
  color: #5e747f; /* lightGray */
  line-height: 1.6;
  margin: 1.5rem;
  text-align: justify; /* Justify the description text */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .services-title {
    font-size: 2.5rem; /* 40px */
  }

  .service-card {
    max-width: 90%; /* Slightly smaller width for smaller screens */
  }

  .service-title {
    font-size: 2rem; /* 32px */
  }

  .service-description {
    font-size: 0.875rem; /* 14px */
  }
}

@media (max-width: 768px) {
  .services-title {
    font-size: 2rem; /* 32px */
  }

  .service-card {
    max-width: 100%; /* Full width for smaller screens */
    margin: 1rem;
  }

  .service-title {
    font-size: 1.75rem; /* 28px */
  }

  .service-description {
    font-size: 0.875rem; /* 14px */
  }

  .service-image-container {
    height: auto; /* Let the image container adjust height */
  }
}

@media (max-width: 480px) {
  .services {
    padding: 1.5rem;
  }

  .services-title {
    font-size: 1.75rem; /* 28px */
  }

  .service-card {
    max-width: 100%; /* Full width for smaller screens */
    margin: 1rem;
  }

  .service-title {
    font-size: 1.5rem; /* 24px */
  }

  .service-description {
    font-size: 0.75rem; /* 12px */
  }

  .service-image-container {
    height: auto; /* Let the image container adjust height */
  }
}
