.map-container {
  width: 100%;
  margin: auto;
  height: 600px;
  box-sizing: border-box; 
  background-color: #E1D9D0;
}

.map {
  height: 100%;
  width: 100%;
  background-color: #E1D9D0;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .map-container {
    width: 90%;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .map-container {
    width: 100%;
    height: 300px;
  }
}
