.map-container {
  width: 70%;
  margin: auto;
  height: 500px;
  box-sizing: border-box; /* Aseguramos que el padding y borde se incluyan en el tamaño total */
}

.map {
  height: 100%;
  width: 100%;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .map-container {
    width: 90%;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .map-container {
    width: 100%;
    height: 300px;
  }
}
