.team-section {
  padding: 2rem;
  background-color: #3a4954; /* mediumGray */
  font-family: 'Asen Pro', sans-serif;
  color: #E1D9D0; /* beige */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title2 {
  font-size: 2.5rem; /* 40px */
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem; /* 18px */
  margin-bottom: 2rem;
  text-align: center;
}

.subsection-title {
  font-size: 2rem; /* 32px */
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.list li {
  margin-bottom: 1rem;
}

.list p {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.carousel .react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

.image-container {
  width: 90%;
  margin: 0 auto;
}

.team-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.team-image:hover {
  transform: scale(1.05);
}

.team-banner-desktop {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.team-banner-mobile {
  display: none;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .title2 {
    font-size: 2rem; /* 32px */
  }

  .description {
    font-size: 1rem; /* 16px */
  }

  .subsection-title {
    font-size: 1.75rem; /* 28px */
  }

  .list {
    font-size: 0.875rem; /* 14px */
  }
}

@media (max-width: 768px) {
  .title2 {
    font-size: 1.75rem; /* 28px */
  }

  .description {
    font-size: 0.875rem; /* 14px */
  }

  .subsection-title {
    font-size: 1.5rem; /* 24px */
  }

  .list {
    font-size: 0.75rem; /* 12px */
  }

  .image-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title2 {
    font-size: 1.5rem; /* 24px */
  }

  .description {
    font-size: 0.75rem; /* 12px */
  }

  .subsection-title {
    font-size: 1.25rem; /* 20px */
  }

  .list {
    font-size: 0.75rem; /* 12px */
  }

  .image-container {
    width: 100%;
  }

  .team-banner-desktop {
    display: none;
  }

  .team-banner-mobile {
    display: block;
  }
}
