.team-section {
  padding: 2rem;
  background-color: #3a4954; /* mediumGray */
  font-family: 'Asen Pro', sans-serif;
  color: #E1D9D0; /* beige */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; /* Add some padding for better spacing */
}

.title2 {
  font-size: 2.25rem; /* 36px */
  text-align: center;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.125rem; /* 18px */
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5; /* Improve readability */
}

.subsection-title {
  font-size: 2rem; /* 32px */
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Center the list */
  max-width: 800px; /* Limit the width for better readability */
}

.list li {
  margin-bottom: 1rem;
}

.list p {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.carousel .react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

.image-container {
  width: 70%;
  margin: 0 auto;
}

.team-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.team-image:hover {
  transform: scale(1.05);
}
.team-banner2 {
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
 
}

.team-banner-desktop {
  display: block;
  width: 80%;
  height: auto;
  margin:auto;
  background-color: #E1D9D0;
  border-radius: 15px;
  box-shadow: #E1D9D0 0px 0px 10px 0px;
}

.team-banner-mobile {
  display: none;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}


@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  .title2 {
    font-size: 2rem; /* 32px */
  }

  .description {
    font-size: 1rem; /* 16px */
  }

  .subsection-title {
    font-size: 1.75rem; /* 28px */
  }

  .list {
    font-size: 0.875rem; /* 14px */
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem; 
  }

  .title2 {
    font-size: 1.75rem; /* 28px */
  }

  .description {
    font-size: 0.875rem; /* 14px */
  }

  .subsection-title {
    font-size: 1.5rem; /* 24px */
  }

  .list {
    font-size: 0.75rem; /* 12px */
    max-width: 100%; 
  }

  .image-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 0.5rem; 
  }

  .title2 {
    font-size: 1.5rem; /* 24px */
  }

  .description {
    font-size: 0.75rem; /* 12px */
  }

  .subsection-title {
    font-size: 1.25rem; /* 20px */
  }

  .list {
    font-size: 0.75rem; /* 12px */
    max-width: 100%; 
  }

  .image-container {
    width: 100%;
  }

  .team-banner-desktop {
    display: none;
  }

  .team-banner-mobile {
    display: block;
  }
  .team-banner2 {
    width: auto;
  }
}
