.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: url('../../assets/images/12.png');
    background-size: cover; /* Asegura que la imagen de fondo cubra el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    padding: 2rem; /* Añade padding para asegurar que el contenido no toque los bordes */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  }
  
  .imgLogo {
    width: 30%;
    height: auto; /* Permite que la altura se ajuste automáticamente */
    object-fit: cover;
    border-radius: 40px;
  }
  
  /* Ajustes responsivos */
  @media (max-width: 768px) {
    .imgLogo {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .imgLogo {
      width: 70%;
      border-radius: 20px; /* Reducir el radio de borde en pantallas más pequeñas */
    }
  }
  