.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80%;
    width: 100%;
    
    background-size: cover; 
    
  
  }
  
  .imgLogo {
    width: 100%;
    height: 80%; 
    object-fit: cover;
    
  }
  
  
  @media (max-width: 768px) {
    .imgLogo {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .imgLogo {
      width: 100%;
     
    }
  }
  