.header {
  background-color: #BDBDBC; 
  background-size: cover;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  
}
.list-nav a{
  
  display: inline-block;
  margin: 1rem;
}
.imgCon {
  width: 50%;
  height: auto;
  margin: auto;
}

.imgLeest {
  width: 30%;
  height: auto;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }

  .imgLeest {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem 0.25rem;
  }

  .nav {
   
  }
  .list-nav a{
    font-size: 0.9rem;
    display: inline-block;
    margin: 0.1rem;
  }

  .imgLeest {
    width: 70%;
    height: auto;
    margin-bottom: 1rem;
  }
}
