.header {
    background-color: #BDBDBC;
    background-size: cover;
    display: flex;
  }
  .nav {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: auto;
  }
 .imgCon {
    width: 50%;
    height: auto;
    margin: auto;
  }
  .imgLeest {
    width: 30%;
    height: auto;
  }
  @media (max-width: 400px) {
    .header {
      font-size: 12px;
      flex-direction: column;
    }
    .nav {
      font-size: 12px;
      flex-direction: column;
    }
    .imgLeest {
      width: auto;
      height: auto;
      margin-bottom: 30px;
    }
  }