.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    background-color: #3a4954;
  }
  
  .services-button {
    background-color: #E1D9D0;
    color: #3a4954;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Asen Pro', sans-serif;
  }
  
  .services-button:hover {
    background-color: #3a4954;
    transform: scale(1.05);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .containerButton {
      padding: 5%;
    }
  
    .services-button {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .containerButton {
      flex-direction: column;
      padding: 5%;
    }
  
    .services-button {
      width: 90%;
    }
  }
  