.footer {
  background-color: #BDBDBC; 
  color: #2e3d49; 
  padding: 2rem;
  font-family: 'Asen Pro', sans-serif;
  position: relative;
}
.Logo {
  width: 30%;
}
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 1rem;
  align-items: start;
}

.footer-about, .footer-links, .footer-social {
  margin-bottom: 2rem;
}

.footer-about p {
  margin: 0.5rem 2rem;
  text-align: justify;
  margin: 5%;
 
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 10% 0;

}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a, .social-icons a {
  color: #EFEFEF;
  text-decoration: none;
  transition: color 0.3s;
  
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin: 10% 0;
}

.social-icons a:hover {
  color: #ccc; 
}

.footer-bottom {
  border-top: 1px solid #EFEFEF;
  padding-top: 1rem;
  text-align: center;
  margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr; 
    text-align: center;
  }

  .footer-links, .footer-social {
    margin-bottom: 1rem;
  }

  .social-icons {
    justify-content: center;
  }
}
