.footer {
  background-color: #BDBDBC; /* mediumGray */
  color: #EFEFEF; /* lightGray */
  padding: 2rem 1rem;
  font-family: 'Asen Pro', sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-section {
  margin-bottom: 2rem;
}

.footer-section h3 {
   .: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-section p,
.footer-section a {
   .: 1rem;
  margin-bottom: 0.5rem;
  color: #EFEFEF; /* lightGray */
  text-decoration: none;
}

.footer-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.footer-section ul li {
  white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center; /* Asegura que los íconos estén uno al lado del otro */
}

.social-icons a {
  color: #EFEFEF; /* lightGray */
   .: 1.5rem;
}

.footer-bottom {
  border-top: 1px solid #EFEFEF; /* lightGray */
  padding-top: 1rem;
  width: 100%;
  text-align: center;
   .: 0.875rem;
}

/* Responsive adjustments */
@media (min-width: 640px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-section {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }

  .footer-section h3 {
     .: 1.25rem;
  }

  .footer-section p,
  .footer-section a {
     .: 0.875rem;
  }

  .social-icons {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .footer-bottom {
     .: 0.75rem;
  }
}

@media (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 1rem;
  }

  .footer-section h3 {
     .: 1rem;
  }

  .footer-section p,
  .footer-section a {
     .: 0.75rem;
  }

  .social-icons {
    flex-direction: row;
    align-items: center;
  }

  .footer-bottom {
     .: 0.75rem;
  }
}
