.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #E1D9D0; 
  padding: 2.5rem;
  min-height: 80vh;
  background-size: cover;
  flex-direction: row; 
}

.banner-text {
  flex: 1;
  padding: 2.5rem;
  color: #5e747f; 
  text-align: justify;
  width: 60%;
  margin: 0 auto;
}

.banner-text h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; 
}

.banner-text p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem; /* 18px */
  text-align: justify;
}

.banner-text button {
  background-color: #5e747f; 
  color: #E1D9D0; 
  padding: 1rem; 
  border-radius: 0.375rem; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.banner-text button:hover {
  background-color: #606060; 
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto; 
}

.banner-image img {
  width: 90%;
  height: auto;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
    padding: 1.5rem;
  }
  
  .banner-text {
    width: 90%;
    padding: 1rem;
  }
  
  .banner-text h1 {
    font-size: 1.75rem; /* 28px */
  }
  
  .banner-text p {
    font-size: 1rem; /* 16px */
  }
  
  .banner-image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .banner-text h1 {
    font-size: 1.5rem; /* 24px */
  }
  
  .banner-text p {
    font-size: 0.875rem; /* 14px */
  }
  
  .banner-image img {
    width: 100%;
    
  }
}
